<form th:hx-post="'/admin/users/' + ${user.getId()}" hx-target="#content">
    <div class="card" style="margin-bottom: 20px;">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">Edit user</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <p class="card-text">
            <div class="mb-3">
                <label for="login" class="form-label">Login</label>
                <input type="text" class="form-control" id="login" name="login" th:value="${user.getLogin()}">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-Mail</label>
                <input type="email" class="form-control" id="email" name="email" th:value="${user.getEmail()}">
            </div>
            <div class="mb-3">
                <label for="firstname" class="form-label">Firstname</label>
                <input type="text" class="form-control" id="firstname" name="firstName" th:value="${user.getFirstName()}">
            </div>
            <div class="mb-3">
                <label for="lastname" class="form-label">Lastname</label>
                <input type="text" class="form-control" id="lastname" name="lastName" th:value="${user.getLastName()}">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="password" name="password" value="">
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-success">save</button>
        <button type="button" class="btn btn-outline-secondary"
                hx-get="/admin/users" hx-target="#content"
        >
            cancel
        </button>
    </div>
</form>