<nav xmlns:th="http://www.thymeleaf.org"
     class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark app-navbar"
     aria-label="Main navigation"
     th:fragment="topNav(isadmin, isguest, isuser)">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Knowledgeroot</a>
        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <div class="d-flex w-100 align-items-center">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-plus-square"></i> New</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" hx-get="/ui/page/new" hx-target="#content" hx-push-url="true"><i class="bi bi-folder-plus"></i> Page</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" th:if="${isadmin}">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownAdmin" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-gear-fill"></i> Admin</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownAdmin">
                            <li><a class="dropdown-item" hx-get="/admin/users" hx-target="#content" hx-push-url="true">Users</a></li>
                            <li><a class="dropdown-item" hx-get="/admin/groups" hx-target="#content" hx-push-url="true">Groups</a></li>
                            <li><a class="dropdown-item" hx-get="/admin/permissions" hx-target="#content" hx-push-url="true">Permissions</a></li>
                        </ul>
                    </li>
                </ul>

                <form class="d-flex mx-auto app-search-form" hx-get="/search" hx-target="#content" hx-push-url="true" method="get">
                    <input class="form-control me-2" type="text" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-question-circle"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown02">
                            <li><a class="dropdown-item" hx-get="/help" hx-target="#content" hx-push-url="true">Help</a></li>
                            <li><a class="dropdown-item" hx-get="/about" hx-target="#content" hx-push-url="true">About</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink2">
                            <li th:if="${isguest}">
                                <a class="dropdown-item" hx-get="/login" hx-target="#content" hx-push-url="true">Sign in</a>
                            </li>
                            <li th:if="${isuser || isadmin}">
                                <a class="dropdown-item" hx-get="/profile" hx-target="#content" hx-push-url="true">Profile</a>
                            </li>
                            <li th:if="${!isguest}">
                                <a class="dropdown-item" hx-post="/logout" hx-target="#content" hx-push-url="true">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
