<th:block xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="single">
        <th:block th:if="${singlePage != null}">
            <th:block th:insert="~{fragments/sidebar-node :: node(${singlePage})}"></th:block>
        </th:block>
    </th:block>
    <th:block th:if="${parentId == 0 and singlePage == null}">
        <ul class="sidebar-tree">
            <th:block th:insert="~{fragments/sidebar-entries :: entries}"></th:block>
        </ul>
    </th:block>
    <th:block th:if="${parentId != 0 and parentPage != null}">
        <li class="sidebar-node" th:id="'nav-page-' + ${parentPage.pageId}">
            <div class="sidebar-node-row">
                <button class="sidebar-toggle" type="button" aria-label="Collapse page" aria-expanded="true"
                        th:attr="hx-get=@{/ui/sidebar(singlePage=${parentPage.pageId})}, hx-target='#nav-page-' + ${parentPage.pageId}"
                        hx-swap="outerHTML" hx-disabled-elt="this">
                    <i class="bi bi-chevron-down"></i>
                </button>
                <th:block th:insert="~{fragments/sidebar-row :: content(${parentPage}, ${starredIds}, ${canStar})}"></th:block>
            </div>
            <ul class="sidebar-children">
                <th:block th:insert="~{fragments/sidebar-entries :: entries}"></th:block>
            </ul>
        </li>
    </th:block>
</th:block>
