<form th:hx-post="'/ui/page/' + ${page.pageId} + '/edit'" hx-target="#content">
    <div class="card" style="margin-bottom: 20px;">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">Site</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Permissions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inherit Permissions</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <p class="card-text">
            <div class="mb-3">
                <label for="page-name" class="form-label">Name</label>
                <input type="text" class="form-control" id="page-name" name="name" th:value="${page.name}">
            </div>
            <div class="mb-3">
                <label for="page-subtitle" class="form-label">Subtitle</label>
                <textarea class="form-control" id="page-subtitle" rows="3" name="subtitle"><th:block th:text="${page.subtitle}">Subtitle</th:block></textarea>
            </div>
            <div class="mb-3">
                <label for="page-description" class="form-label">Description</label>
                <textarea class="form-control" id="page-description" rows="3" name="description"><th:block th:text="${page.description}">Description</th:block></textarea>
            </div>
            <div class="mb-3">
                <label for="page-default-position" class="form-label">Default position for content</label>
                <input type="text" class="form-control" id="page-default-position">
            </div>
            <div class="mb-3">
                <label for="page-icon" class="form-label">Icon</label>
                <input type="text" class="form-control" id="page-icon">
            </div>
            <div class="mb-3">
                <label for="page-symlink" class="form-label">Symlink</label>
                <input type="text" class="form-control" id="page-symlink">
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" value="" id="page-content-collapse">
                <label class="form-check-label" for="page-content-collapse">
                    Initially show all content on this page collapsed?
                </label>
            </div>
            </p>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-success">save</button>
        <button type="button" class="btn btn-outline-secondary"
        th:hx-get="'/ui/page/' + ${page.getPageId()}" hx-target="#content"
        >cancel</button>
    </div>
</form>