<form th:hx-post="'/ui/page/' + ${page.pageId} + '/edit'" hx-target="#content">
    <div class="card" style="margin-bottom: 20px;">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">Site</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Permissions</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <p class="card-text">
            <div class="mb-3">
                <label for="page-name" class="form-label">Name</label>
                <input type="text" class="form-control" id="page-name" name="name" th:value="${page.name}">
            </div>
            <div class="mb-3">
                <label for="page-content" class="form-label">Description</label>
                <textarea class="form-control" id="page-content" rows="3" name="content"><th:block th:text="${page.content}">Content</th:block></textarea>
            </div>
            </p>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-success">save</button>
        <button type="button" class="btn btn-outline-secondary"
        th:hx-get="'/ui/page/' + ${page.getPageId()}" hx-target="#content"
        >cancel</button>
    </div>
</form>