<form hx-post="/ui/page/new" hx-target="#content">
    <div class="card" style="margin-bottom: 20px;">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">Site</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Permissions</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <p class="card-text">
                <div class="mb-3" th:if="${page}">
                    <label for="page-name" class="form-label">Parent</label>
                    <input type="text" class="form-control" id="parent-page" th:value="${page.getName()}" readonly>
                    <input type="hidden" name="parent" th:value="${page.getPageId()}">
                </div>
                <div class="mb-3">
                    <label for="page-name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="page-name" name="name">
                </div>
                <div class="mb-3">
                    <label for="page-content" class="form-label">Description</label>
                    <textarea class="form-control" id="page-content" rows="3" name="content"></textarea>
                </div>
            </p>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-success">create</button>
        <button type="button" class="btn btn-outline-secondary"
        th:hx-get="'/ui/page/' + ${page.getPageId()}" hx-target="#content"
        >cancel</button>
    </div>
</form>